
/* Varibles*/
:root{
    --primaryBackground: rgba(0, 0, 0, 0.445);
    --buttonMain: rgb(83, 1, 1);
    --buttonsecdry: rgb(4, 4, 170);
    --health: rgb(231, 41, 41);
    --stun: rgb(15, 70, 250); 
    --buttonlight: rgb(255, 171, 171);
    --buttonHighlight: rgb(207, 194, 7);
    --mainHeading: rgb(189, 189, 23);
    --systemFonts: 'Signika', 'Palatino Linotype', serif;
    --editorFonts: "klavika-medium";
  }
  h1{
  padding: 1.5em;
  color: var(--mainHeading);
  font-family: var(--editorFonts);
  font-size:larger;
  border-color: var(--mainHeading);
  }
  .window-app > section.window-content #biomonitor {
  color: whitesmoke;
  background: none;
  background-image: none;
  width: 330px;
  min-height: 303px;
  }
  /*Main Grid*/
  .grid-monitor {
    
    --padding-inline: 4.2em;
    width: 330px;
    display: grid;
    grid-template-columns: [header] 10em [actors] 10em;
      /*[full-width-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [full-width-end];*/
    background-color: var(--primaryBackground);
    min-height: auto;
  }
  .header{
  position: sticky;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  }
  .actors-box{
  width: 300px;
  padding: 0.5em;
  display: subgrid;
  grid-template-columns: 6em auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--buttonHighlight)
  }
  .image{
  padding: 0.2em;
  max-width: 90px;
  max-height: 90px;
  grid-column-start: 1;
  grid-column-end: 3;
  object-fit: contain;
  }
  .image{
  border-width: 1px;
  border-style: solid;
  border-color: var(--buttonHighlight)
  }
  img{
    border: none;
    padding: 0.2em;
    width:100%;
    height:100%;
    object-fit:contain;
    overflow: hidden;
  }
  
  .full-width {
    display: inherit;
  
  }
  .label{
    padding: 0.2em;
    min-height: 0.2em;
  }
  .value{
    padding: 0.2em;
    min-height: 0.2em;
  }
  .start{
    grid-column-start: 1;
  }
  
  .physik{
    color:var(--health) ;
  }
  .stun{
    color: var(--stun);
  }