@import 'varibles';

.grid-monitor{
    display: grid;
    grid-template-columns: 
    [full-width-start] minmax(var($padding-inline), 1fr)
    [breakout-start] minmax(0, var($breakout-size))
    [content-start] minmax(
        100% - (var($padding-inline) * 2),
        var($content-max-width)
    )
    [content-end]
    minmax(0, var($breakout-size)) [breakout-end]
    minmax(var($padding-inline), 1fr) [full-width-end];
    background-color: $primaryBackground;
}

.grid-monitor > :not(.breakout, .full-width),
.full-width > :not(.breakout, full-width) {
    grid-column: content;
}

.grid-monitor > .breakout {
    grid-column: breakout;
}

.grid-monitor > .full-width {
    grid-column: full-width;
  
    display: grid;
    grid-template-columns: inherit;
  }