$systemFonts: 'Signika', 'Palatino Linotype', serif;
$editorFonts: "klavika-medium";

// Padding and sizes
$padding-inline: 1rem;
$content-max-width: 600px;
$breakout-max-width: 800px;
$breakout-size: calc(
    (var($breakout-max-width) - var($content-max-width)) / 2
);

//Colors Main Sheet
$primaryBackground: rgba(0, 0, 0, 0.445);